<html>
{% load static %}
<strong><link rel="stylesheet" href="{%static 'main.css'%}">
<body><header>
      <div class="container">
		
	<h1 class="logo">Picture Gallery</h1></body></div>

<strong><nav>
<ul class="menu">
<li><a href='/home'>home</a></li>
<li><a href='/gallery/close/'>Close</a></li>

</ul>
</nav></strong>
</div>
</header>
<div align="center">

{% for i in images %}
<p><font size='5' color="white">Pic No:{{ i.id }}</font></p>
<div align="center">
<b>Title:<font size='20' face="Comic sans MS" color="white"><p>{{ i.filename }}</p></font></b></h1></div>


<input type="button" value={{ i.filename }} onclick="load(this.value)">
<br><script>
function load(image){document.location.href="/gallery/"+image+"/";}</script>
{% endfor %}

</html>




